@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

html, body {
    overflow: hidden;
}

body {
    background: #131A29;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
}

button {
    border: 1px solid white;
    outline: none;
    background: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    pointer-events: auto;
    text-shadow: 1px 1px black;
    font-weight: bold;
}

button:hover {
    background-color: rgb(180, 180, 180);
    color: black;
    text-shadow: none;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.github-corner svg {
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
    left: 0 !important;
    z-index: 99;
}

.bttn-wrapper {
    position: absolute;
    left: 10px;
    bottom: 5px;
    z-index: 99;
}

.controls {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 100;
}

.controls p {
    display: block;
    padding: 0 1rem;
    height: 0.5rem;
    color: white;
    opacity: 0.5;
    font-size: 12px;
}

.controls span {
    font-weight: bold;
}

.controls .bg {
    position: absolute;
    background-color: white;
    min-width: 100%;
    min-height: 125%;
    z-index: -1;
    opacity: 0.05;
}

#info {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    pointer-events: none;
    z-index: 10;
    padding: 1.5em;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 1em;
}

#info h1 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
}

#info h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

#info p {
    margin-bottom: 1em;
}

#info a {
    pointer-events: auto;
}

#info button {
    color: inherit;
    cursor: pointer;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2em;
    z-index: 10;
    color: white;
    text-shadow: 1px 1px black;
}

/* Loading Screen */

.loadingScreen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #131A29;
    z-index: 99;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in 0.25s, z-index 0s 0.75s;
}

.loadingScreen .counter {
    width: 200px;
}

.loadingScreen .bar {
    background: #64ffda;
    height: 1px;
    width: 0%;
    transition: 0.2s width;
}